// Colors

// Primary
$tomato: hsl(4, 100%, 67%);
$pink: #FF5574;

// Neutral
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-h1-l: 3rem; // 48px
$font-h1-s: 2.25rem; // 36px
$font-m: 1rem; // 16px
$font-s: 0.75rem; // 12px

// Font Weights
$font-weight-m: 700;
$font-weight-s: 400;
